@import url('./base.css');

.inline-logo {
    height: 1.5em;
    vertical-align: middle;
    margin: 0 0px;
}

/* Smooth scroll behavior */
html {
    scroll-behavior: smooth;
}

/* Main content container */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15vh;
}

#project-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-link p {
    margin-top:4px
}


#intro {
    font-weight: 600;
    text-align: center;
    margin-bottom: 2px;
}


#title {
    padding-top: 40px;
}

#subheading {
    font-weight: 400;
    text-align: center;
    margin-top: 2px;

}

#description {
    max-width: 1000px;
    margin: auto;
    font-size: 19px;
    font-weight: 300;
    line-height: 130%;
    padding-left: 30px;
    padding-right: 30px;
}

.social {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

/* Navigation menu styles imported from base.css */

/* Page-specific dark/light mode overrides */

@media (prefers-color-scheme: light) {
    #description {
        color: var(--text-color-light);
    }

    #linkedin {
        content: url("../images/linkedin_light.png");
    }

    #github {
        content: url("../images/github_light.png");
    }

    #instagram {
        content: url("../images/instagram_light.png");
    }

    #amazon {
        content: url("../images/amazon-word.png");
    }
}

@media (prefers-color-scheme: dark) {
    #description {
        color: var(--text-color-dark);
    }

    #linkedin {
        content: url("../images/linkedin_dark.png");
    }

    #github {
        content: url("../images/github_dark.png");
    }

    #instagram {
        content: url("../images/instagram_dark.png");
    }

    #amazon {
        content: url("../images/amazon-white-text.png");
    }
}

/* End of dark/light-mode preferences */